<div class="container">
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Title</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td><img src="/product_images/{{this.product._id}}.jpg" style="width: 70px; height:auto"></td>
                <td>{{this.product.name}}</td>
                <td>
                    <button class="btn btn-primary mr-3">-</button>
                    {{this.quantity}}
                    <button class="btn btn-primary ml-3">+</button>
                </td>
                <td class="btn btn-danger">Remove</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>