<div class="container">
    <div class="login-form mt-5">
        <h3><b>LOGIN</b></h3>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="submit-btn d-flex justify-content-between">
                <a href="/signup"><b>Create new account?</b></a>
                <button type="submit" class="btn btn-primary">LOGIN</button>
            </div>
        </form>
    </div>
</div>