<div class="container-fluid">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6">
                <h3>Enter delivery adderess</h3>
                <form action="" method="post">
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" name="address">
                    </div>
                    <div class="form-group">
                        <label>Pincode</label>
                        <input type="text" class="form-control" name="pincode">
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" name="phone">
                    </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <h4 class="mb-3">Total Amount: Rs. 10000</h4>
                <p>Payment Method</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio">&nbsp; &nbsp;Cash on delivery
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio">&nbsp;
                            &nbsp;Online
                            Payment
                        </div>
                    </div>
                </div>
                <a href="" class="btn btn-success mt-3 float-right">Checkout</a>
            </div>
            </form>
        </div>
    </div>
</div>